<EditForm Model="@ordse" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group ">
                <div>
                    <label class="control-label">Element Type :</label>
                    <div>
                        <InputSelect class="form-control" @bind-Value="ordse.orderType">
                            <option value="0">-Select Type-</option>
                            @foreach (var orderType in Enum.GetValues(typeof(EnumOrderType)))
                            {
                                <option value="@orderType">@orderType</option>
                            }
                        </InputSelect>

                        <ValidationMessage For="@(() => ordse.OrderyTypeId)" />
                    </div>
                </div>

            </div>
            <div class="form-group ">
                <div>
                    <label class="control-label">Width :</label>
                    <div>
                        <InputNumber @bind-Value="@ordse.Width" class="form-control" />
                        <ValidationMessage For="@(() => ordse.Width)" />
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div>
                    <label class="control-label">Height :</label>
                    <div>
                        <InputNumber @bind-Value="@ordse.Height" class="form-control" />
                        <ValidationMessage For="@(() => ordse.Height)" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                @ButtonText
            </button>
        </div>
        <div class="col-md-6">
        </div>
    </div>

</EditForm>
@code {
    [Parameter] public OrderSubElementsVM ordse { get; set; } = new OrderSubElementsVM();
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}